
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



#div1 {
    background: linear-gradient(to bottom right, #FFB6C1, #FF69B4, #FF4500); /* Degradê de rosa claro, rosa vibrante e laranja */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#div2 {
    background-color: #CD5C5C;
    width: 80vw; 
    height: 80vh; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


#div3 {
    background-color: #F5F5F5; 
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}


#div3:hover {
    background-color: #FFE4E1; 
    transform: scale(1.05);
}


#div4 {
    color: #000000; 
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    font-style: italic; 
    border-radius: 50px;
}


@media (max-width: 768px) {
    #div2 {
        width: 85vw; 
        height: 70vh; 
        padding: 20px;
    }
}

@media (max-width: 480px) {
    #div2 {
        width: 90vw; 
        height: 60vh; 
        padding: 20px;
        margin: 0 auto; 
        box-sizing: border-box; 
    }

    #div3 {
        padding: 10px;
        font-size: 18px;
    }

    #div4 {
        font-size: 18px;
    }
}
